extends ../layout.pug

block content
    h2 Колекція кораблів
    br
    form(method='POST' action=`/addShip`)
        label(for='nameShipEdit') Name:
            input#nameShipEdit.form-control(type='text', placeholder='Ship Name' name='name')
        label(for='numberShip') Number:
            input#numberShipEdit.form-control(type='numb', placeholder='666' name='number')
        label(for='countryShip') Country:
            input#countryShipEdit.form-control(type='country', placeholder='Ukraine' name='country')
        label(for='tonnageEdit') Tonnage:
            input#tonnageEdit.form-control(type='numb' name='tonnage')
        label(for='tonnageEdit') osanka:
            input.form-control(type='numb' name='osanka')
        button.btn.btn-primary(type='submit') Post Ship
    br
    p=err
    br
    each val, index in dataShip

            div.ship
                p= index + '. Імя:' + val.name + '. Номер:' + val.number
                p= 'Країна:' + val.country + '. Тонажність:' + val.tonnage + '. Осанка:' + val.osanka
                form(method='POST' action=`/editShip/${val.number}`)
                    label(for='nameShipEdit') Name:
                        input#nameShipEdit.form-control(type='text', placeholder='Ship Name' name='name')
                    label(for='numberShip') Number:
                        input#numberShipEdit.form-control(type='numb', placeholder='666' name='number')
                    label(for='countryShip') Country:
                        input#countryShipEdit.form-control(type='country', placeholder='Ukraine' name='country')
                    label(for='tonnageEdit') Tonnage:
                        input#tonnageEdit.form-control(type='numb' name='tonnage')
                    button.btn.btn-primary(type='submit') Edit Ship
                form(method='POST' action=`/delete/${val.number}`)
                    button.btn.btn-primary(type='submit') Delete


                if val.log
                    each numb, index in val.log
                        div.log= 'Історія подорожей N '+ index
                        p= ' Пірс:' + numb.pier +'. Час прибутя:' + numb.timeArrival + '. Час відбуття:' +  numb.timeDeparture


                else
                    p Корабель не подорожував
