extends ../layout.pug

block content




    div.row
        div.col-6
            h2  Додавання пристані до порту
            form(method='POST' action='/addPier')
                label(for='OueShipP') Our Port:
                select#OueShipP(name = 'indexPort')
                    each val, index in data
                        option= index + '. Імя:' + val.name + '. Країна:' + val.country + '. EDP:' + val.EDP + '. Пірс:' + val.pier
                label(for='OuePier') Oue Port:
                    select#OuePier(name = 'indexPier')
                        each val, index in dataPier
                            option= index + '. Номер:' + val.number + '. Місткість:' + val.Capacity

                button.btn.btn-primary(type='submit') Edit

        div.row
            div.col-6
                h2  Видалення пристані із порту
                form(method='POST' action='/deletePier')
                    label(for='dd') Our Port:
                    select#dd(name = 'indexPort')
                        each val, index in data
                            option= index + '. Імя:' + val.name + '. Країна:' + val.country + '. EDP:' + val.EDP + '. Пірс:' + val.pier
                    label(for='ff') Oue Port:
                        select#ff(name = 'indexPier')
                            each val, index in allPiers
                                option= index + '. Номер:' + val.number + '. Місткість:' + val.Capacity

                    button.btn.btn-primary(type='submit') Edit
                    p=viktory
