extends ../../layout

block content
  h3 Location Type List

  a(href='/ship-in-pier/add' class="btn btn-default") Add
  
  table(class="table")
    thead
      tr
        th ID
        th Name
        th Code
        th &nbsp;
    tbody
      each type in shipsInPier
        tr
          td #{type.id}
          td #{type.name}
          td #{type.code}
          td
            a(href=`/ship-in-pier/edit/${type.id}` class="btn btn-default") Edit
            a(href=`/ship-in-pier/remove/${type.id}` class="btn btn-default") Delete